<div class="row match">
    <div class="col-sm">
       <div class="list-group-item team-text" style="color:#445fa5; font-weight: bold;">Team A<input type="checkbox" class="winning-team-checkbox" name="winning-team" value="team-a"></div>
       <div class="team-a team-a-players"></div>
    </div>

    <div class="col-sm">
       <div class="list-group-item team-text">VS</div>
    </div>
        
    <div class="col-sm">
       <div class="list-group-item team-text" style="color:#C4A15B; font-weight: bold;">Team B<input type="checkbox" class="winning-team-checkbox" name="winning-team" value="team-b"></div>
       <div class="team-b team-b-players"></div>
    </div>
 </div>
 <br>